body {
    max-width: 1000px;
    background-color:grey);
    float: none;
    margin: auto;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {

    .logo img {
        border: 2px solid ;
        border-radius: 15px;
        margin: 10px 0 0 10px;
        height: 200px;
        width: 200px;
}